</div>
</section>
<!-- #content body end -->
<footer id="footer" role="footer" class="d-print-none">
    <div id="footer-contacts" class="bg-secondary s-desktop">
        <div class="container overflow-hidden">
            <div class="row row-grid">
                <div class="col-12 col-md-6 col-xl-4 overflow-hidden display-6">
                    <div class="row row-grid">
                        <div class="col-3 col-md-4 col-xl-6 text-center">
                            <img src="assets/images/samples/footer-img-1.jpg" alt="" class="round-media">
                        </div>
                        <div class="col-9 col-md-8 col-xl-6">
                            <h5 class="font-weight-normal">TALLINNAS:</h5>
                            <p>
                                Peterburi tee 34<br>
                                Avatud: E-R 9-18
                            </p>
                            <p>
                                Telefon: 641 4114<br>
                                Mob: 5858 2240<br>
                                Lukuabi: 5858 2244
                            </p>
                            <p>
                                Üldinfo:<br>
                                <a href="mailto:tallinn@lukupood.ee"><strong>tallinn@lukupood.ee</strong></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 overflow-hidden display-6">
                    <div class="row row-grid">
                        <div class="col-3 col-md-4 col-xl-6 text-center">
                            <img src="assets/images/samples/footer-img-2.jpg" alt="" class="round-media">
                        </div>
                        <div class="col-9 col-md-8 col-xl-6">
                            <h5 class="font-weight-normal">TARTUS:</h5>
                            <p>
                                Narva mnt 27b<br>
                                Avatud: E-R 9-18, L 10-15
                            </p>
                            <p>
                                Telefon: 740 2012<br>
                                Mob: 5858 7663<br>
                                Lukuabi: 5858 2241</p>
                            </p>
                            <p>
                                Üldinfo:<br>
                                <a href="mailto:tartu@lukupood.ee"><strong>tartu@lukupood.ee</strong></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 overflow-hidden display-6">
                    <div class="row row-grid">
                        <div class="col-3 col-md-4 col-xl-6 text-center">
                            <img src="assets/images/samples/footer-img-3.jpg" alt="" class="round-media">
                        </div>
                        <div class="col-9 col-md-8 col-xl-6">
                            <h5 class="font-weight-normal">TARTUS:</h5>
                            <p>
                                Riia 142<br>
                                Avatud: E-R 9-18
                            </p>
                            <p>
                                Telefon: 748 0281<br>
                                Mob: 5858 5632<br>
                                Lukuabi: 5858 2241
                            </p>
                            <p>
                                Üldinfo:<br>
                                <a href="mailto:riia142.tartu@lukupood.ee"><strong>riia142.tartu@lukupood.ee</strong></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-10 offset-xl-1">
                    <p class="text-yellow text-center font-weight-bold display-5">Lukkude avamine Tartus, Tartumaal ja Lõuna-Eestis. 24/7 </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-footer s-desktop">
        <div class="container">
            <div class="row row-grid">
                <div class="col-12 col-xl-3 display-7">
                    <div class="editor-content text-center text-lg-left">
                        <h5>TEENUSED:</h5>
                        <ul>
                            <li><a href="#">Võtmete valmistamine</a></li>
                            <li><a href="#">Autouste avamine</a></li>
                            <li><a href="#">Korteriuste avamine</a></li>
                            <li><a href="#">Ukse- ja autolukkude remont</a></li>
                        </ul>
                        <h5>KONTAKTANDMED:</h5>
                        <p>
                            OÜ LUKUPOOD<br>
                            Reg.nr.: 10009634<br>
                            KMKR nr: EE100289394
                        </p>
                        <p>
                            Kaupluse ja ettevõtte juriidiline aadress:<br>
                            Narva mnt 27B, 51009 Tartu
                        </p>
                    </div>
                </div>
                <div class="col-12 col-xl-9 display-7 col-footer-menus">
                    <div class="row row-grid">
                        <div class="col-12 col-menu-label">
                            <h5>TOOTED:</h5>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="editor-content">
                                <ul>
                                    <li><a href="#">Lukusüdamikud ja katted</a></li>
                                    <li><a href="#">Ukselingid ja -käepidemed</a></li>
                                    <li><a href="#">Aknalingid ja -sulused</a></li>
                                    <li><a href="#">Kattekilbid ja wc-pöörad</a></li>
                                    <li><a href="#">Postkastid ja lisatarvikud</a></li>
                                    <li><a href="#">Elektrilukud ja lisatarvikud</a></li>
                                    <li><a href="#">Fonosüsteemid</a></li>
                                    <li><a href="#">Läbipääsusüsteemid</a></li>
                                    <li><a href="#">Ukseautomaatika ja lisatarvikud</a></li>
                                    <li><a href="#">Pindlukud ja snepperlukud</a></li>
                                    <li><a href="#">Väravalukud ja garaažilukud</a></li>
                                    <li><a href="#">Relvakapid ja seifid</a></li>
                                    <li><a href="#">Võtmekapid ja võtmehoidjad</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="editor-content">
                                <ul>
                                    <li><a href="#">Lukusüdamikud ja katted</a></li>
                                    <li><a href="#">Ukselingid ja -käepidemed</a></li>
                                    <li><a href="#">Aknalingid ja -sulused</a></li>
                                    <li><a href="#">Kattekilbid ja wc-pöörad</a></li>
                                    <li><a href="#">Postkastid ja lisatarvikud</a></li>
                                    <li><a href="#">Elektrilukud ja lisatarvikud</a></li>
                                    <li><a href="#">Fonosüsteemid</a></li>
                                    <li><a href="#">Läbipääsusüsteemid</a></li>
                                    <li><a href="#">Ukseautomaatika ja lisatarvikud</a></li>
                                    <li><a href="#">Pindlukud ja snepperlukud</a></li>
                                    <li><a href="#">Väravalukud ja garaažilukud</a></li>
                                    <li><a href="#">Relvakapid ja seifid</a></li>
                                    <li><a href="#">Võtmekapid ja võtmehoidjad</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="editor-content">
                                <ul>
                                    <li><a href="#">Lukukorpused ja vasturauad</a></li>
                                    <li><a href="#">Lukukorpused korteriustele ja eramajadele</a></li>
                                    <li><a href="#">ASSA ABLOY lukudprofiiliustele</a></li>
                                    <li><a href="#">ASSA ABLOY lukud täisklaasustele</a></li>
                                    <li><a href="#">Saksa ja Itaalia lukud puit- ja silemetallustele</a></li>
                                    <li><a href="#">Saksa ja Itaalia lukud profiilustele</a></li>
                                    <li><a href="#">Ripplukud ja lisatarvikud</a></li>
                                    <li><a href="#">Kapilukud ja mööblilukud</a></li>
                                    <li><a href="#">Jalgrattalukud ja lisatarvikud</a></li>
                                    <li><a href="#">Mootorrattalukud ja lisatarvikud</a></li>
                                    <li><a href="#">Uksehinged ja aknahinged</a></li>
                                    <li><a href="#">Riivid ja lisatarvikud</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-copyright">
                    <p>Kõik õigused kaitstud Lukupood OÜ poolt. LukuCentrum on registreeritud kaubamärk. Vaata ostu üldtingimusi siit.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="s-mobile position-relative">
        <img src="http://test.artmedia.ee/lukupood2020/assets/images/mobile/footer-1.png" alt="">
        <div class="mobile-footer-txt text-center">
            <p>© Lukupood OÜ. LukuCentrum on registreeritud kaubamärk. <a href="ostutingimused.php">E-poe ostutingimused</a>.</p>
        </div>
    </div>
</footer>
</div>
<!-- #wrapper end -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="assets/js/bootstrap.bundle.min.js" async defer></script>
<script src="assets/js/swiper/swiper.min.js"></script>
<script src="assets/js/nice-select/jquery.nice-select.min.js"></script>
<script src="assets/js/functions.js" async defer></script>
</body>
</html>